<%= form_with(model: nature, local: true) do |form| %>
  <% if nature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nature.errors.count, "error") %> prohibited this nature from being saved:</h2>

      <ul>
      <% nature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :nature_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :nature_description %>
  </div>

  <div class="field">
    <%= form.label :videourl %>
    <%= form.text_field :videourl, id: :nature_videourl %>
  </div>

  <div class="field">
    <%= form.label :posterurl %>
    <%= form.text_field :posterurl, id: :nature_posterurl %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
